

body {
    background-color: rgb(63, 63, 63);

}

/* Top section */

nav {
    display: block;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: white;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    font-size: 20px; 
    color:black; 
}

nav ul li:hover {
    
    
    
    color: red;
}

nav ul li a {
    display: block;
    padding: 9px 12px;
    text-decoration: none;
    color: black;
    
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 5px;
}

nav ul li:hover ul {
    display: block;
    
}

nav ul li ul li {
    width: 150px;
    color: whitesmoke;
}

nav ul li ul li a {
    padding: 8px 14px;
    color: black;
}

nav ul li ul li a:hover {
    padding: 8px 14px;
    
    color: red;
}

.home:hover {
    color: red;
    text-decoration: none;
}

.logo img {
    width: 140px;
    height: 65px;
    float: left;
    margin-left: -50px;
    margin-top: -16px;
    padding: 1px;
}



/* Search Bar */

button {
    float: right;
}

.btn .btn-outline-dark:hover {
    background-color: red;
    color: whitesmoke;
}

form {
    float: right;
}

button:active {
    box-shadow: 5px 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: whitesmoke;
    
}

/* Middle section */
.mid {
    height: 500px;
    text-align: center;
    background-image: url("./resources/images/20220720_194351.jpg");
    background-color: black;
    
}

.mid:hover {
    color: rgba(255, 0, 0, 0.662);
}

img {
    height: 350px;
    width: 1200px;
    position: relative;
}

.kicks {
    cursor: not-allowed;
}


.soon {
    padding: 30px 20px;
    font-size: 50px;
    font-weight: 30px;
    color: whitesmoke;
    font-family: Jazz LET, fantasy;
    margin: 0 120px;
    
    
}

/*Carousel*/
div .carousel-item {
   
   
}

div .carousel-inner {
    width: 500px;
}


/* Footer */
div h3 {
    color: black;
    text-align: center;
    padding: 50px;
    

}

footer {
    font-size: 20px;
    padding: 20px 0;
    background-color: whitesmoke;
}

footer ul {
    list-style: none;
}

footer li img {
    height: 50px;
    width: 50px;
}

.web {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-image: 30px;
}

.end {
    position: relative;
}

.contact-btn {
    border: 0.5px solid;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}



